.App {
  display: flex;
  background-color: rgb(238, 239, 239);
  height: 100vh;
}
.sidebar_div {
  flex: 1;
}
.main {
  flex: 4;
}

.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  /* height: calc(100vh - 70px); */
}

.generate_report_btn {
  height: 30px;
  width: max-content;
}

.widget_binder {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.charts {
  padding: 20px;
  display: flex;
  gap: 10px;
  /* justify-content: space-around; */
}

.area_chart {
  flex: 2.5;
}
.pie_chart {
  flex: 1.5;
}
